<?xml version="1.0"?>
<configuration>
  <appSettings>
<!--<add key="DBConnection" value="Integrated Security=true;SERVER=ADMIN-PC; DATABASE=KATO2; Connect Timeout=60" />-->
<!--<add key="DBConnection" value="Integrated Security=true;SERVER=ADMIN-PC; DATABASE=KATO2; Connect Timeout=60" />-->
        <add key="DBConnection" value="Integrated Security=true;SERVER=DESKTOP-1SVOI91\SVR01; DATABASE=KATO; Connect Timeout=30" /> 
        <!--<add key="DBConnection" value="Integrated Security=true;SERVER=WIN7PRO32; DATABASE=KATO; Connect Timeout=120" />-->
    <!--<add key="DBConnection" value="Integrated Security=true;SERVER=MITO-PC\SQLEXPRESS; DATABASE=KATO; Connect Timeout=30" />--> 

    <add key="workpath" value="..\work\" />
    <add key="pdfpath" value="..\pdf\" />
    <!-- 開発者フラグ　0:権限なし 1:権限あり -->
    <add key="adminflg" value="0" />

    <!--<add key="PRINTER_GENPIN_DRIVER1" value="Brother TD-4100N" />-->
    <!--<add key="PRINTER_GENPIN_DRIVER2" value="Brother TD-4100N" />-->
    <!--<add key="PRINTER_GENPIN_DRIVERG" value="Brother TD-4100N_Gihu" />-->
    <add key="PRINTER_GENPIN_DRIVER1" value="RICOH MP C305 JPN" />
    <add key="PRINTER_GENPIN_DRIVER2" value="RICOH MP C305 JPN" />
    <add key="PRINTER_GENPIN_DRIVERG" value="RICOH MP C305 JPN" />
  </appSettings>
</configuration>